$rootFontSize: 16px;
$secondaryFontSize: 12px;
$tertiaryFontSize: 10px;

$primaryFontFamily: Helvetica Neue, Helvetica, Arial, sans-serif;
$secondaryFontFamily: Montserrat, Helvetica Neue, Helvetica, Arial, sans-serif;

$primaryBgColor: #eed;
$secondaryBgColor: #fff;

$primaryTextColor: #333;
$secondaryTextColor: #757575;